.moButton,
.moText
{
  display: inline-block;
  box-sizing: border-box;
}

.moButton {
  background-color: lightblue;
  padding: 5px 10px;
}

.moText {

}

.editable > *:hover {
  cursor: pointer;
  background: orange;
}

